html {
  margin: 0;
  padding: 0;

  background-color: #6b6e80;
  box-sizing: border-box;

  color: #EBE7E7;
  font: normal 100%/1.5 sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 50em;
}

.masthead {
  background-color: #8a8d9e;
}

.title {
  margin: 0;
  padding: 1em 0;

  font-weight: normal;
  text-align: center;
}

.chart {
  margin: 1.5 0;
  padding: 0 0 2em;

  list-style-type: none;
}

@-webkit-keyframes chart__item, chart__label, chart__bar {
   0% { -webkit-transform: scaleY(1,0); color: #EBE7E7; background: rgba(127, 219, 255, 0.6); }
   100% { -webkit-transform: scaleY(1,0); color: #FFFFFF; background: rgba(255,255,255,0.6); }
}

.chart__item {
  float: left;
  height: 16em;
  margin: 0 0.5%;
  position: relative;
  width: 7.3%;

  background-color: rgba(204, 204, 204, 0);
}

.chart__item:hover{
	-webkit-animation-name: chart__item, chart__label, chart__bar;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease; /* ease is the default */
    -webkit-animation-delay: 0;             /* 0 is the default */
    -webkit-animation-iteration-count: 1;    /* 1 is the default */
    -webkit-animation-direction: normal;  /* normal is the default */
}

.chart__link,
.chart__link:link,
.chart__link:visited {
  display: block;

  color: #e2e2e2;
  text-decoration: none;
}

@-webkit-keyframes chart__label {
   from { color: #EBE7E7 }
   to { color: #FFFFFF }
}

.chart__label {
  bottom: -1.7em;
  position: absolute;
  width: 100%;

  text-align: center;
}

.chart__label:hover {
	/*background-color: rgba(255,255,255,0.6);*/
	-webkit-animation-name: chart__label;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out; /* ease is the default */
    -webkit-animation-delay: 0;             /* 0 is the default */
    -webkit-animation-iteration-count: 1;    /* 1 is the default */
    -webkit-animation-direction: normal;  /* normal is the default */
}

.chart__bar-wrap {
  bottom: 0;
  position: absolute;
  width: 100%;
}

@-webkit-keyframes chart__bar {
   0% { background: rgba(127, 219, 255, 0.6); }
   100% { background: rgba(255,255,255,0.7); }
}

.chart__bar {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  background-color: rgba(127, 219, 255, 0.6);
  
}

.chart__bar:hover {
	/*background-color: rgba(255,255,255,0.6);*/
	-webkit-animation-name: chart__bar;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out; /* ease is the default */
    -webkit-animation-delay: 0;             /* 0 is the default */
    -webkit-animation-iteration-count: 1;    /* 1 is the default */
    -webkit-animation-direction: normal;  /* normal is the default */
}


.chart__count {
  display: inline-block;
  left: -2.3em;
  margin: 0 0 0 50%;
  padding: 0.5em;
  position: absolute;
  top: -2em;
  width: 4.6em;
  z-index: 1;

  background-color: #000;
  border-radius: 6px;
  opacity: 0;

  text-align: center;
}

.chart__count::after {
  bottom: -10px;
  content: " ";
  height: 0;
  left: -10px;
  margin-left: 50%;
  position: absolute;
  width: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
}
